.header-container{
    grid-area: header;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 2em;
    border-radius: 5px;
    background-color: grey;
}

.header-logo{
    font-size: 2.5em;
    font-weight: 900;
}