.toolbarBtn {
    border: none;
  }
  
  .myown-card {
    margin: 10px;
    margin-left: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 0;
    background: #fff;
    padding: 0;
    border: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
  }
  .card-content {
    flex-grow: 1;
    border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    background: 0 0;
    margin: 0;
    padding: 1em 1em;
    box-shadow: none;
    font-size: 1em;
  }
  .card-img {
    float: right;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 1em;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: auto;
    font-size: 0.78571429rem;
  }
  
  .card-content-header {
    font-weight: 700;
    font-size: 1.28571429em;
    margin-top: -0.21425em;
    line-height: 1.28571429em;
    display: block;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.85);
  }
  
  .card-content-meta {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.4);
  }
  .card-description {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.68);
  }
  .card-extra-content {
    max-width: 100%;
    min-height: 0 !important;
    flex-grow: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
    position: static;
    background: 0 0;
    width: auto;
    margin: 0 0;
    padding: 0.75em 1em;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.4);
    box-shadow: none;
    transition: color 0.1s ease;
  }
  .card-extra-content>span{
    margin-inline: 10px;
  }

  .card-extra-content>span:hover{
    color: blue;
  }
  
  .card-icon {
    width: auto;
    margin: 0 0.75em 0 0;
    display: inline-block;
    opacity: 1;
    margin: 0 0.25rem 0 0;
    backface-visibility: hidden;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
  }